@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/jost.ttf') format('truetype'),
  }

 @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter.ttf') format('truetype'),
}
  
=======
>>>>>>> 6bf72b4550791e4822359e707343d1edaafc8ef4
